/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;900&display=swap');

*{
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
}

/*Variable defining bg colors acording to answers*/

:root {
    --hue-neutral: 200;
    --hue-incorrect: 0;
    --hue-correct: 145;
}

body{
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    /*variable to have diferent bg depending on answers*/
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 30%);
}

/*bg color when its correct*/
body.correct {
    --hue: var(--hue-correct);
}

/*bg color when its incorrect*/
body.incorrect {
    --hue: var(--hue-incorrect);
}

header{
    text-align: center;
    color:#ffffff;
}

/*hero image*/
img{
    width:100%;
    max-width: 600px;
    margin: 0 auto;
}
/*main section quiz section*/
main{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Main container */
.container {
    width: 600px;
    max-width: 60%;
    background-color: #80ccbb;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px 1px;
}

.btn-options {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 0;

}

.btn{
    border: 1px solid hsl(var(--hue), 100%, 20%);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover{
    border-color:black;
    background-color: hsl(var(--hue), 100%, 20%);
    color: white;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.incorrect {
    --hue: var(--hue-incorrect);
    
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    padding: 5px 10px;
}

.main-btns{
    display: flex;
    justify-content: center;
    align-items:center;

}

/*Will hide all content util javaScript functions allow it*/
.hide {
    display: none;
}

/*footer area that will display the score*/
.score-area{
    text-align: center;
        color: #ffffff;

}